# mcp-server-remote.service.j2
# [TEMPLATE] .j2 version of a systemd service that handles running the mcp-server-remote MCP server.

[Unit]
Description=mcp-server-remote
After=network.target

[Service]
User={{ mcp_service_user }}
WorkingDirectory={{ mcp_workspace }}
ExecStart={{ pipx_bin_dir }}/mcp-server-remote
Restart=on-failure

ProtectSystem=strict
ReadWritePaths={{ mcp_workspace }}
ProtectHome=read-only
PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target

